 .u-section-1 {
  background-image: url("../images/46.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 880px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 115px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 41px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1494px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: -134px 0 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2454px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -104px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3926px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -74px;
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: url("../images/2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 695px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 573px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 207px;
  }
}